* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	font-family: $font-primary;
    color: #5B5B5B;
    background-color: #FAF6EF;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

h1, .h1{
    font-size: 58px;
    font-weight: 600;
	strong{
		color: $primary-gray;
		font-weight: 600;
	}
}

ul{
	list-style: none;
	li{
		font-size: 20PX;
		font-weight: 600;
		color: $light-gray;
		a{
			color: $light-gray;
			text-decoration: none;
		}
	}
}